body{
    background:black;
    margin: 0;
}
div.post{
    background: white;
    width: 600px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: center;
    font-family: "Roboto", sans-serif;
}
h1{
    font-size: 20px;
    margin-bottom: 0px;
}
div.header{
    display: flex;
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 0px;
    margin-top: 20px;
}
div.titles{
    display: flexbox;
}
p.rigo{
    padding-top: 0;
    margin-top: 0;
}
div.img{
    width: 100%;
}
div.content{
    padding: 20px;
    padding-top: 10px;
}
div.post-icons{
    font-size: 35px;
    padding: 20px;
    padding-bottom: 0%;
    display: flex;
}
.push {
    margin-left: auto;
    margin-right: 10px;
  }
.one {
    padding-right: 10px;
}
.two {
    padding-right: 10px;
}
.point {
    margin-left: auto;
    margin-right: 10px;
    font-size: 35px;
    margin-top: 15px;
}
.html {
    padding-right: 10px;
    font-size: 35px;
    margin-top: 15px;
}

